.d {
    display: block;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-grid {
    display: grid;
  }
  
  .container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: bisque;
  }
